# Auto detect text files and perform LF normalization
* text=auto
*.fbx filter=lfs diff=lfs merge=lfs -text
_Game/*.fbx filter=lfs diff=lfs merge=lfs -text
_Game/*.mat filter=lfs diff=lfs merge=lfs -text
